.section1 {
  display: flex;
  flex-direction: row;
  background-color: #f6f7f9;
}
.section1 .subSection1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px 200px;
 }
 .section1 .subSection1 .bigText {
   text-align: center;
   font-size: 1.25rem;
 }
 .section1 .subSection1 .line {
   background-color: #3C467B;
   height: 2px;
   border-radius: 4px;
   width: 15vw;
   margin: 15px 0px;
 }

 .section1 .subSection1 .smallText {
   color: black; 
   font-size: 0.9rem;
   font-weight: lighter;
 }

/* From Uiverse.io by mrhyddenn */ 
.section1 .subSection1 button {
  background: #636CCB;
  border: none;
  margin: 10px 0px;
  padding: 10px 20px;
  display: inline-block;
  font-size: 1rem;
  font-weight: 600;
  width: 280px;
  text-transform: uppercase;
  cursor: pointer;
  transform: skew(-21deg);
  color: white;
}

.section1 .subSection1 span {
  display: inline-block;
  transform: skew(21deg);
}

.section1 .subSection1 button::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  right: 100%;
  left: 0;
  background: #3C467B;
  opacity: 0;
  z-index: -1;
  transition: all 0.5s;
}
 
.section1 .subSection1 button:hover {
  color: #fff;
}

.section1 .subSection1 button:hover::before {
  left: 0;
  right: 0;
  opacity: 1;
}

.section1 img {
  width: 50%;
  height: 100%;
  object-fit: cover;
}

.section2 {
  display: flex;
  flex-direction: column;
  background-color: #e6eef8;
  align-items: center;
  width: 100%;
}

.section2 .bigText {
  font-size: 1.45rem;
  margin-top: 40px;
  margin-bottom: 15px;
  font-weight: 600;
}

.section2 .items {
  display: flex;
  gap: 8rem;
}

