.pageBackground {
  position: relative;
  background-image: url('../assets/authBackground.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 70vh;
  padding: 100px 0px;
  border-bottom: 2px solid #3C467B;
}

.signContainer {
  margin-top: 40px;
  margin-bottom: 90px;
  display: flex;
  flex-direction: row;
  min-height: 50vh;
  width: auto;
}

/* invisible line to seperate left and right section */
.signContainer .middle {
  width: 10rem;
}

.signContainer .left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #FBFBFB;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 60px;
  width: auto;
  max-width: 500px;
}

.signContainer .left .bigText {
  font-size: 1.75rem;
}
.signContainer .left .description {
  font-weight: light;
  color: #3B3B3B;
}

.signContainer .left .signIn{
  margin-top: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
}
.signContainer .left .signUp {
  margin-top: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
}

.signContainer .switch{
  margin: -0.5rem 0;
  align-self: flex-end;
  color: gray;
  margin-top: 0.3%;
}

.signContainer .switch .click {
  color: #50589C;
  cursor: pointer;
}
.signContainer .switch .click:hover {
  color: #636CCB;
}

.pageBackground .right {
  position: absolute;
  display: flex;
  padding: 40px;
  right: 0;
  top: 0;
  bottom: 0;
  width: 50vw;
  background: rgba(255,255,255, 0.8);
  overflow: hidden;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pageBackground .right .signUpImg {
  width: 100%;
  height: auto;
  object-fit: contain;
  transform: translateY(-15%);
}

.goBack {
  display: flex;
  gap: 2rem;
}

.goBack button:nth-child(1) svg {
  transform: scaleX(-1); 
}

.signContainer .left .accountType {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

.signContainer .left .accountType input {
  opacity: 0;
}

.signContainer .left .accountType .formInput {
  background: #fdfdfd;
  border: 1px solid #eee;
  text-align: center;
  flex: 1;
  padding: 10px;
  min-width: 120px;
  max-width: 200px;
  box-sizing: border-box;
  box-shadow: 2px 2px 5px 2px #ddd;
  transition: all 200ms ease-in-out;
  cursor: pointer;
}

.signContainer .left .accountType .formInput .title {
  font-size: 15px;
  color: #3C467B;
  font-weight: 600;
}

.signContainer .left .accountType .formInput .price {
  font-size: 20px;
  font-weight: 600;
  margin: 10px 0px 2px;
  color: #222;
}

.signContainer .left .accountType .formInput p {
  color: #888;
  font-size: 15px;
 }

.signContainer .left .accountType .formInput .desc {
  color: #555;
  font-size: 15px;
  margin-top: 10px;
 }

.signContainer .left .accountType .formInput:hover {
  border: 1px solid #636CCB;
 }

.signContainer .left .accountType .formInput:has(input:checked) {
  border: 1px solid #636CCB;
  background: #636CCB;
 }
.signContainer .left .accountType .formInput:has(input:checked) .title {
  color: white;
}
.signContainer .left .accountType .formInput:has(input:checked) .price {
  color: white;
}
.signContainer .left .accountType .formInput:has(input:checked) p{
  color: white;
}
.signContainer .left .accountType .formInput:has(input:checked) .desc {
  color: white;
}

